
.logoNav{
  font-family: 'Averus', sans-serif;
  font-size: 2em;
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
}

.logoNav:hover{
  color: aliceblue;
}

.activo {
    color: rgb(0, 220, 235);
    font-weight: bold;
    text-decoration: none;
    text-shadow: rgba(0, 238, 186, 0.911) 1px 0 10px;
  }
  .activo:hover{
    color: rgb(0, 220, 235);
  }
  
  .deco {
    text-decoration: none;
    font-weight: bold;
    font-family: 'Prime', sans-serif;                                        
  }
  
  .deco:hover{
    color: rgb(0, 220, 235);
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
  }
  
  .inactivo {
     color:aliceblue;
    text-decoration: none;
  }
  
  .inactivo:hover{
    color: rgb(0, 220, 235);
  }

  .boton-cerrar:hover {
    color: brown;
  }