.orden{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 3rem;
}

.nombreUsuario{
    color: yellowgreen;
    text-shadow: rgb(65, 247, 45) 1px 0 10px;
    font-family: 'Verona FFF', sans-serif;
    font-size: 2rem;                                          
}

.imagenUsuario{
    width: 200px;
    border-radius: 10px;   
}

.imagenUsuario:hover{
  animation: zoom 2s 1 forwards;
}

@keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}

.jugadorUsuario {
    animation: opacidad 4s 1 forwards;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: auto;
    color: aliceblue;
    border-radius: 6px;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 30px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
      -1px -1px 6px rgba(255, 255, 255, 0.4), inset 3px 3px 10px rgba(0, 0, 0, 1),
      inset -1px -1px 6px rgba(255, 255, 255, 0.4);
  }

  .jugadores{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
  }

  .contenedorJugadores{
    animation: opacidad 4s 1 forwards;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    color: aliceblue;
    border-radius: 6px;
    background-color: transparent;
    padding: 1em 3em;
    border: 2px solid transparent;
    border-radius: 30px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
      -1px -1px 6px rgba(255, 255, 255, 0.4), inset 3px 3px 10px rgba(0, 0, 0, 1),
      inset -1px -1px 6px rgba(255, 255, 255, 0.4);
  }

  .paginacion{
    display: flex;
    width: 200px;
    justify-content: center;
  }

  @media (max-width: 992px) {
    .orden{
      display: flex;
      flex-direction: column;
      padding-top: 200px;
    }

    .jugadores {
      display: grid;
      grid-template-columns:1fr 1fr;
      gap: 3rem;
    }
  
  }
  
  @media (max-width: 576px) {
    .orden{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 2em;
    }
    .jugadores {
      display: flex;
      flex-direction: column;
    }
  }

